@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200;1,300&family=Roboto+Slab:wght@100;300&display=swap");

html{
  /* font-size: 70%; */
}

body {
  position: relative;
  margin: 0%;
  max-width: 2000px;
  margin: 0 auto;
  font-family: "Roboto Slab", serif;
}

@media only screen and (max-width: 1200px) {
  html{
    font-size: 80%;
  }
}

@media only screen and (max-width: 900px) {
  html{
    font-size: 75%;
  }
}
@media only screen and (max-width: 600px) {
  html{
    font-size: 70%;
  }
  h1{
    font-size: 210% !important;
    line-height: 180% !important;
  }
}
